extends ../layout
block content
  a(href='/bici')  Volver
  h1 Nueva Bicicleta

  form(action='/bici/Create' method='post')
    br
    br
    label(for='id')  Id: 
    input(type='text' name='id')
    br
    br
    label(for='modelo')  Modelo: 
    input(type='text' name='modelo')
    br
    br
    label(for='color')  Color: 
    input(type='text' name='color')
    br
    br
    label(for='lat')  Latitud: 
    input(type='text' name='lat')
    br
    br
    label(for='lon')  Longitud: 
    input(type='text' name='lon')
    br
    br
    input.btn(type='submit' value='  OK ')