extends ../layout

block content
  a(href="/bici/Create") Nueva Bici

  table.table
    thead
      tr
        th(scope = 'col') #
        th(scope = 'col') modelo
        th(scope = 'col') color
        th(scope = 'col') ubicacion
        th(scope = 'col')
    tbody
      each bici in bicis
        tr
          td(scope='row')=(bici.id)
          td=(bici.modelo)
          td=(bici.color)
          td=(bici.ubi)
          td
            a(href="bici/" + bici.id + "/Update" ) Editar
          td
            form.inline(method='post' action = 'bici/' + bici.id + '/Delete')
                input(type='hidden' name = 'id' value = bici.id)
                button.link-button(type = 'submit' name = 'submit_params' value = 'submit_value' class = 'btn')
                = 'Eliminar'