extends ../layout
block content
  a(href='/bici')  Volver
  h1 Modificar Bicicleta

  form(action=`/bici/${bici.id}/Update` method='post')
    br
    br
    label(for='id')  Id:  
    input(type='text' name='id' value=bici.id)
    br
    br
    label(for='modelo')  Modelo: 
    input(type='text' name='modelo' value=bici.modelo)
    br
    br
    label(for='color')  Color: 
    input(type='text' name='color' value=bici.color)
    br
    br
    label(for='lat')  Latitud: 
    input(type='text' name='lat' value=bici.ubi[0])
    br
    br
    label(for='lon')  Longitud: 
    input(type='text' name='lon' value=bici.ubi[1])
    br
    br
    input.btn(type='submit' value='  OK ')